# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WPF App without XAML.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin\Documents\Visual Studio 2019\Templates\ProjectTemplates\WPF App without XAML\.idea\.idea.WPF App without XAML.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
